{% extends 'base.html.twig' %}

{% block title %}
Create a new wish | {{ parent() }}
{% endblock %}

{% block body %}
 <div class="form form-control">
 {{ form_start(wishForm) }}
   {{ form_widget(wishForm) }}
 <button>Submit</button>
 {{ form_end(wishForm) }}
 </div>
{% endblock %}

